.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title__title,
.title__subtext {
    display: flex;
    justify-content: center;
}

.title__title {
    font-size: 25px;
    font-weight: 800;
}

.title__subtext {
    font-size: 20px;
    font-weight: 500;
}

.search {
    margin-top: 5vh;
}

.search__title {
    font-size: 18px;
}

.form__submit {
    cursor:pointer;
}